venv
.vscode
commerceapp/__pycache__
sso/__pycache__
sso/migrations/__pycache__
catalog/__pycache__
catalog/migrations/__pycache__
myshop/__pycache__
myshop/migrations/__pycache__
cart/__pycache__
cart/migrations/__pycache__
userprofile/__pycache__
userprofile/migrations/__pycache__
