{% load static %}
<link href="{% static 'sso/navbar.css' %}" rel="stylesheet">

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark px-4 position-fixed vw-100">
    <div class="container-fluid">
        <a class="navbar-brand d-none d-lg-inline lead" href="{% url 'catalog:main' %}">S H O P A H O L I C</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon color-dark"></span>
        </button> 
        <div class="collapse navbar-collapse justify-content-end pe-4" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'catalog:index' %}">
                        CATALOG
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myshop:main' %}">MY SHOP</a>
                </li>
                <li class="nav-item dropdown d-none d-lg-block">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span><i class="bi bi-person-fill"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{% url 'userprofile:profile' username=user.username %}">PROFILE <i class="bi bi-info-circle"></i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'sso:logout' %}">LOGOUT <i class="bi bi-box-arrow-left"></i></a>
                        </li>
                        
                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{% url 'sso:register' %}">REGISTER <i class="bi bi-pencil-square"></i></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'sso:login' %}">LOGIN <i class="bi bi-box-arrow-in-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item d-none d-lg-inline-block pt-1">
                    <a class="nav-link" href="{% url 'cart:main' %}"><i class="bi bi-cart"></i></a>
                </li>
            </ul>
        </div>
        <!-- Outside of collapse -->
        <div class="d-lg-none d-flex flex-direction-row top-0 end-0 mt-1 me-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMobile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span><i class="bi bi-person-fill"></i></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMobile">
                {% if user.is_authenticated %}
                <li>
                    <a class="dropdown-item" href="{% url 'userprofile:profile' username=user.username %}">PROFILE <i class="bi bi-info-circle"></i></a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'sso:logout' %}">LOGOUT <i class="bi bi-box-arrow-left"></i></a>
                </li>
                
                {% else %}
                    <li>
                        <a class="dropdown-item" href="{% url 'sso:register' %}">REGISTER <i class="bi bi-pencil-square"></i></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'sso:login' %}">LOGIN <i class="bi bi-box-arrow-in-right"></i></a>
                    </li>
                {% endif %}
            </ul>
            <a class="nav-link d-inline-block mt-1" href="{% url 'cart:main' %}"><i class="bi bi-cart"></i></a>
        </div>
    </div>
    
</nav>




