{% extends "layout/root.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block script %}

{% endblock script %}

{% block body %}
    <!-- register as seller TODO -->
    <link rel="stylesheet" href="{% static 'myshop/register.css' %}">
    <div class="container register-seller-container">
        <div class="row justify-content-center align-items-center">
            <div class="card col-9 col-sm-8 col-md-7 col-lg-6" > 
            <!-- Need to be moved to local css -->
                <h5 class="card-header bg-white">
                    {% if usage == "create" %}
                        <span class="me-1">Create your item</span>
                        <i class="bi bi-wallet2"></i></h5>
                    {% elif usage == "edit" %}
                        <span class="me-1">Edit your product</span>
                        <i class="bi bi-box-arrow-in-right"></i>
                    {% endif %}
                    <div class="card-body">
                        <form action=
                        {% if usage == "create" %}"{% url 'myshop:create' %}"
                        {% elif usage == "edit" %}"{% url 'myshop:edit' item_id=id %}"
                        {% endif %} method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    <label class="form-label" for="{{ field.auto_id }}">
                                        {{ field.label }}:
                                    </label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input class="btn btn-secondary mt-1 btn-sm" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}