{% extends "layout/root.html" %}

{% block title %}

{% endblock title %}

{% block script %}

{% endblock script %}

{% block body %}
    <!-- my shop TODO -->
    <div style="height: 56px;"></div>
    <div class="container text-center">
    {% if notloggedin %}
        <h3>Please log in first if you want to sell your own item(s)!</h3>

    {% elif notseller %}
        <h3>Please register as a seller first!</h3>
        <a href="{% url 'myshop:register' %}" class="btn btn-secondary">Register</a>
        
      
    {% else %}
        <div></div>
        You have been registered as a seller!
        <a href="{% url 'myshop:create' %}">Sell New Item</a><br>
        {% for item in items %}
            <a href="{% url 'catalog:item' item_id=item.id %}">
                {{ item }}
            </a><br>
        {% empty %}
            no item yet...
        {% endfor %}
        <!-- <div class="container">
            <div class="alert alert-info">
                Try to add query parameter: ?status=sold, ?status=onsale, ?status=all;
                TODO - create different views for those
            </div>
        </div> -->
    {% endif %}
    </div>
{% endblock body %}