{% extends "layout/root.html" %}

{% block title %}

{% endblock title %}

{% block script %}

{% endblock script %}

{% block body %}
    <!-- my shop TODO -->
    <div style="height: 56px;"></div>
    <div class="container text-center">
    {% if notloggedin %}
        <h3>Please log in first if you want to sell your own item(s)!</h3>

    {% elif notseller %}
        <h3>Please register as a seller first!</h3>
        <a href="{% url 'myshop:register' %}" class="btn btn-secondary">Register</a>
        
      
    {% else %}
        <h3>You have been registered as a seller!</h3>
        <a href="{% url 'myshop:create' %}" class="btn btn-secondary mt-3">Sell new item!</a> 

        <div style="height: 20px;"></div>
        <br>
        {% for item in items %}
            <a href="{% url 'catalog:item' item_id=item.id %}">
                {{ item }}
            </a><br>
        {% empty %}
            <h4 class="text-muted">No item yet :(</h4>
        {% endfor %}
        <!-- <div class="container">
            <div class="alert alert-info">
                Try to add query parameter: ?status=sold, ?status=onsale, ?status=all;
                TODO - create different views for those
            </div>
        </div> -->
    {% endif %}
    </div>
{% endblock body %}