{% extends "layout/root.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block script %}

{% endblock script %}

{% block body %}
    <!-- register as seller TODO -->
    <link rel="stylesheet" href="{% static 'myshop/register.css' %}">
    <div class="container register-seller-container">
        <div class="row justify-content-center align-items-center">
            <div class="card col-9 col-sm-8 col-md-7 col-lg-6" > 
            <!-- Need to be moved to local css -->
                <h5 class="card-header bg-white">Register as seller <i class="bi bi-box-arrow-in-right"></i></h5>
                    <div class="card-body">
                        <form action="{% url 'myshop:register' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="formControlLocation" class="form-label">Location: </label>
                                <input name="location" type="text" class="form-control" id="formControlLocation">
                            </div>
                            <input class="btn btn-secondary mt-1 btn-sm" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}