{% extends "layout/root.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block script %}
    <script src="{% static 'userprofile/chatview.js' %}" type="module"></script>
{% endblock script %}

{% block body %}
    <!-- TODO -->

    <div class="container">
        <div id="root" data-receiver="{{ username }}"></div>
        <span id="username" class="lead"></span>
        <input type="text" id="message">
        <button id="sendmessage">Send</button>
    </div>
{% endblock body %}