{% extends "layout/root.html" %}
{% load static %}
{% block title %}

{% endblock title %}

{% block script %}
    <script src="{% static 'userprofile/profile.js' %}" type="module"></script>
{% endblock script %}

{% block body %}
    <link href="{% static 'userprofile/profile.css' %}" rel="stylesheet">
    <div class="d-flex align-items-center justify-content-center">
        <div  class="avatar bg-secondary rounded-circle d-flex align-items-center justify-content-center d-inline-block">
            <span data-name="{{ user.username }}" class="avatar-text" class=""></span>
        </div>
    </div>
    <div class="container my-4 px-5 py-5 border text-center">
    <h4 class="mb-4 text-muted">Name: {{ user.username }}</h4>
    <h4 class="mb-4 text-muted">Email: {{ user.email }}</h4>
    <!-- {{ user.tier }}  Tier needs to be clarified (using badges or what?)-->
    {% if request.user == user %}
        <a href="{% url 'userprofile:chats' %}" class="btn btn-secondary">Your message <i class="bi bi-chat-dots"></i></a>
    {% endif %}
    </div>
{% endblock body %}