ol, ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover { 
    text-decoration: none;
    color: black;
}



div.catalog-container { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    column-gap: 10px;
}



div.catalog-container li { 
    width: 30vw;
    margin: 2.5vw 0;
}

div.card { 
    width: max(20vw, 270px);  
} 


div.card img { 
    width: 90%;
    height: max(220px, 20vw);  
    border: none; 
}

div.card div {
    text-align: center;
}