ol, ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover { 
    text-decoration: none;
    color: black;
}



div.catalog-container { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 10vh;
}



div.catalog-container li { 
    width: 30vw;
    margin: 2.5vw 0;
}