{% extends "layout/root.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block script %}
    <script src="{% static 'catalog/index.js' %}" type="module"></script>

{% endblock script %}

{% block body %}
    <!-- CATALOG INDEX PAGE - TODO  -->
    <link rel="stylesheet" href="{% static 'catalog/index.css' %}">
    <div class="container-fluid">
        <div class="container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Advanced options
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% include 'partials/searchfeature.html' %}
                            {% include 'partials/sortfeature.html' %}
                            <a href="{% url 'catalog:index' %}">
                                Reset
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog-container">
            {% for item in pagination.object_list %}
                    <a href="{% url 'catalog:item' item_id=item.id %}"> 
                        <div class="card"> 
                            <div>
                                <img src="{{ item.image }}" class="card-img-top" alt="product-photo"> 
                            </div>
                            <!-- alt need to be outputted dynamically (using image name perhaps)  -->
                            <div class="card-body">
                                <h1 class="lead fw-100">S$ {{ item.price }}</h1>
                                <hr>
                                <h5 class="card-title text-truncate">
                                    {{ item.title }}
                                    <button class="btn bookmark-btn bookmark-{{ item.id }}" data-item-id="{{ item.id }}">
                                        <!-- Placeholder for bookmark icon -->
                                    </button>
                                </h5> 
                                <!-- <small> Condition:  
                                </small> -->
                            </div>
                        </div>
                    </a>
            {% empty %}
            <div class="text-center">
                <h3>                
                    no item...
                </h3>
            </div>
                no item...
            {% endfor %}  

        </div>

        <aside class="pagination d-flex align-items-center justify-content-center mt-5" data-pagination-number="{{ pagination.paginator.num_pages }}">
            <section class="pagination mt-3">
                {% include 'partials/pagination.html' %}
            </section>
            <section class="dropdown ms-3 mt-3">
                {% include 'partials/itemsperpage.html' %}
            </section>
        </aside>
        
    </div>
{% endblock body %}