{% extends "layout/root.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block script %}
{% endblock script %}

{% block body %}
    <script src="{% static 'catalog/index.js' %}" type="module"></script>
    <!-- CATALOG INDEX PAGE - TODO  -->
    <link rel="stylesheet" href="{% static 'catalog/index.css' %}">
    <div class="container-fluid">
        <div class="catalog-container">
            {% for item in items %}
                    <a href="{% url 'catalog:item' item_id=item.id %}"> 
                        <div class="card"> 
                            <div>
                                <img src="{{ item.image }}" class="card-img-top" alt="product-photo"> 
                            </div>
                            <!-- alt need to be outputted dynamically (using image name perhaps)  -->
                            <div class="card-body">
                                <h1 class="lead fw-100">S$ {{ item.price }}</h1>
                                <hr>
                                <h5 class="card-title">{{ item.title }}</h5>
                                <small>Condition: second
                                </small>
                            </div>
                        </div>
                    </a>
            {% empty %}
                no item...
            {% endfor %}
            
        </div>
    </div>
{% endblock body %}