{% extends "layout/root.html" %}

{% block title %}

{% endblock title %}

{% block script %}

{% endblock script %}

{% block body %}
    CATALOG SPECIFIC PAGE - TODO
    {{ item|linebreaks }}
    {{ item.title|linebreaks }}
    {{ item.description|linebreaks }}
    {{ item.price|linebreaks }}
    {{ item.category|linebreaks }}
    {{ item.time_created|linebreaks }}
    {{ item.buyer|linebreaks }}
    {{ item.seller|linebreaks }}
    <a href="{% url 'catalog:index' %}">Back to catalog list</a>

    <div class="container">
        {% if notloggedin %}
            <div class="alert alert-warning">
                Please log in to add item to your cart or chat seller!
            </div>
        {% else %}
            {% if status.creator %}
                You are the creator.
                Edit Button - TODO
                <a href="{% url 'myshop:edit' item_id=item.id %}">
                    Edit
                </a>
            {% else %}
                Chat Seller Button - TODO
            {% endif %}
            <br>
        {% endif %}
        {% if status.sold %}
            Item sold out!
        {% else %}
            Add Cart Button - TODO
        {% endif %}
    </div>
{% endblock body %}