{% extends "layout/root.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block script %}
    <script src="{% static 'catalog/item.js' %}" type="module"></script>

{% endblock script %}

{% block body %} 
    <link rel="stylesheet" href="{% static 'catalog/item.css' %}">
    <div class="m-auto item-image">
        <img class="img-fluid" src={{ item.image }} alt="product-photo">
    </div>
    <div class="container border item-container pb-2">
        <h1 class="d-flex align-items-center">
            {{ item.title }} 
                <span class="fs-6 badge bg-secondary rounded-pill ms-3">{{ item.category }}</span>
            </h1> 
        <h5>$ {{ item.price }}</h5>
        <hr>
        <p class="lead text-muted">
            <span class="fw-bold">Description:</span>
            <br>{{ item.description }} 
        </p>
  
        {% if notloggedin %}
            <div class="alert alert-warning">
                Please log in to add item to your cart or chat seller!
            </div>
        {% else %}
            {% if status.creator %}
            <div class="alert alert-warning container my-3">
                You are the seller of this item. You can edit the details.
            </div>
            
                <a class="btn btn-secondary" href="{% url 'myshop:edit' item_id=item.id %}">
                    Edit<i class="ms-2 bi bi-pen"></i>
                </a>
         
            {% else %}
                <!-- Contact Seller Button - TODO -->
                <button class="btn btn-secondary my-3 contact-btn">
                    Contact seller
                    <i class="bi bi-chat"></i>
                </button>
            {% endif %}
        {% endif %}
        {% if status.sold %}
            <p class="error lead">Item sold out</p>
        {% elif not notloggedin and not status.creator %}
            <!-- Add Cart Button --> 
            <button class="btn btn-secondary my-3 add-cart-btn">
                Add to cart
                <i class="bi bi-cart4"></i>
            </button>
        {% endif %}
    </div>
     <!-- to make it scrollable   -->
    


    
{% endblock body %}